.newbody
{
	border: 5px solid red;
	padding 40px;
	margin:50px;
	background-color:pink;
}

.newh1 
{
	font-family: verdana;
	color: #00ff00;
	font-size: 200%;
	background-color: black;
	text-align:center;
}
.newp{
	color: red;
}